.task {
  text-align: left;
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  background: var(--aside-background);
  box-shadow: var(--box-shadow);
  color: var(--primary-text);
  font-size: 1.5rem;
  font-weight: 600;

  span {
    display: block;
    margin-top: 1rem;
    color: var(--grey-text);
    font-weight: 600;
    font-size: 1.2rem;
  }
}
