.switch-container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-background);

  .switch {
    margin-inline: 2.5rem;
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 3rem;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--primary-color);
      border-radius: 1.5rem;

      &:before {
        position: absolute;
        content: "";
        height: 2.5rem;
        width: 2.5rem;
        left: 0.25rem;
        bottom: 0.25rem;
        background-color: var(--white-color);
        border-radius: 50%;
        transition: transform 0.2s;
      }
    }

    // Move the slider when the switch is checked
    & input:checked + .slider:before {
      transform: translateX(3rem);
    }
  }
}
